* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: url("back.jpg") no-repeat center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  color: #444;
  padding-bottom: 60px;
  font-weight: 300;
  
}

.line-up {
  height: 1px;
  background: #EB4D4D;
  width: 90%;
  display: block;
  margin: auto;
  
}

.line-down {
  padding-top: 1.5px;
  height: 1px;
  background: #EB4D4D;
  width: 90%;
  display: block;
  margin: auto;
}

.container {
  padding: 60PX 20px 30px;
  background-color: #f7f7f7;
  
}

p {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
  color: #555;
}

.principale {
  padding: 10px;
  position: sticky;
  transform: translateY(120px);
 
}

a {
  font-size: 18px;
  text-decoration: none;
}

.back {
  position: sticky;
  left: 90%;
  top: auto;
  font-family: 'Lato';
  color: #444;
}

.back:hover {
  color: #EB4D4D;
}

.fa-arrow-left {
  color: #444;
}

.fa-arrow-left:hover {
  color: #EB4D4D;
}



